body {
  font: 18px/2 helvetica;
  background: white;
  color: #000000;
  padding: 0;
  margin: 5;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #000000;
  text-decoration: none;
}
 
a:hover {
  color: #000000;
  text-decoration: underline;
}
 
#main {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 0px;
}

#content {

  width: 960px;
  margin: 0 auto;
}
header {
  padding: 0px;
  overflow: hidden;
}

h1 {
  margin: 0;
}
 
nav ul, ul.entries {
  list-style-type: none;
}

nav li a {
  float: left;
  font: 22px/1 helvetica;
  color: #000000;
  margin-right: 5px;
}

   p {
   margin-top:5px;
   margin-bottom:5px
}